html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

body {
    line-height: 0;
    font-family: "微软雅黑";
    color: #6c6c6c;
    overflow: hidden;
}

ul li,
ol li {
    list-style: none;
    cursor: pointer;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

div img {
    display: block;
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Microsoft Yahei";
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}

/* 滑块颜色 */

::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0);
}

/* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
    background-color: transparent;
}

textarea {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    line-height: 1;
}

@media screen and (min-width:980px) and (max-width:1024px) {
    .mainContent {
        width: 80%;
        height: 100%;
        float: left;
        margin-left: 20%;
        min-width: 1080px;
    }
}

@media screen and (min-width:1024px) and (max-width:1536px) {
    .mainContent {
        width: 86%;
        height: 100%;
        float: left;
        margin-left: 14%;
        min-width: 1080px;
    }
}

@media screen and (min-width:1537px) and (max-width:5000px) {
    .mainContent {
        width: 89%;
        height: 100%;
        float: left;
        margin-left: 11%;
        min-width: 1080px;
    }
}

.mainContent {
    width: 85%;
    height: 100%;
    float: left;
    margin-left: 15%;
    min-width: 1080px;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 100%;
    height: 60px;
    background: url('../../assets/images/bg_top.png')no-repeat center;
    background-size: cover;
}

#logo {
    margin-left: 2%;
    margin-top: 15px;
    color: #fff;
    width: 650px;
    height: 36px;
    float: left;
    background: url('../../assets/images/logo_sqmd.png')no-repeat;
}

.head-login {
    font-size: 12px;
    padding-right: 30px;
    height: 60px;
    float: right;
    cursor: pointer;
}

.userPic {
    width: 20px;
    height: 20px;
    float: left;
    margin: 20px 10px;
}

.username {
    height: 60px;
    line-height: 60px;
    display: block;
    float: left;
    cursor: pointer;
}

.tangle {
    width: 20px;
    height: 20px;
    float: left;
    margin: 20px 10px;
}

.container {
    width: 100%;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #e9eaf5;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 13%;
    min-width: 165px;
    bottom: 0;
    background: #282b36;
    z-index: 161;
}

.sidebar .goin {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 47px;
}

.leftmenu {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.leftmenu dl {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    overflow: auto;
    right: -20px;
}

.titlemenu {
    height: 40px;
}

.titlemenu img {
    width: 17px;
    height: 17px;
    float: left;
    margin: 12px 10px 0 30px;
}

.leftmenu .txt {
    line-height: 40px;
    font-size: 16px;
    color: white;
    display: block;
    float: left;
}

.leftpull {
    position: absolute;
    right: 100px;
    top: 50%;
    z-index: 333;
}

.sidebar li a {
    display: block;
    color: #cecece;
    line-height: 38px;
    text-align: left;
    font-size: 12px;
    color: white;
    padding-left: 30px
}

.sidebar li a:hover {
    background-color: #354076;
    border-left: 2px solid #546ee6;
    position: relative;
}

.active {
    background-color: #354076;
    border-left: 2px solid #546ee6;
}

.sidebar_list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comeup {
    position: fixed;
    left: -50%;
    bottom: 0;
    z-index: 1;
    /*display:none;*/
}

@media screen and (max-width:1600px) {
    html {
        font-size: 12px;
    }
    .leftmenu .txt {
        font-size: 12px
    }
    .titlemenu img {
        margin: 12px 10px 0 10px;
    }
    .sidebar_list {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .sidebar li a {
        padding-left: 30px;
        line-height: 34px;
    }
}

.sumtext,
.sumtext2 {
    position: fixed;
    bottom: 0;
    width: 61%;
    left: 15%;
    border-radius: 15px 15px 0px 0px;
    z-index: 12;
}

.sumname,
.sumname2 {
    text-align: left;
    width: 10%;
    height: 100%;
    border-right: 1px solid white;
    position: absolute;
    background: #4a4f9f;
    border-radius: 5px 0px 0px 0px;
}

.sumname img,
.sumname2 img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5% 0 20%;
    vertical-align: middle;
}

.sumname span,
.sumname2 span {
    font-size: 12px;
    line-height: 48px;
    color: white;
}

.sumsay,
.sumsay2 {
    line-height: 24px;
    font-size: 12px;
    color: white;
    margin-left: 10%;
    padding: 10px 10px 10px 25px;
    display: block;
    border-radius: 0px 5px 0px 0px;
    background: #575da4;
}

.select-group {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 3px #ddd;
    background: rgb(228, 228, 238);
}

.select-group span {
    float: poleft;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    min-width: 40px;
    color: #000;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.select-group .active {
    background: rgb(85, 115, 228);
    color: #fff;
}

.econt {
    position: relative;
}

.chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn {
    color: #fff;
    text-align: center;
    line-height: 2.4;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 5px;
    vertical-align: middle;
}

.btn-default {
    background: #494d97
}

.btn-big {
    font-size: 14px;
    line-height: 3;
    min-width: 100px;
}

.btn-inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#parent {
    background: #fff;
    border-radius: 5px;
    /* the width and the height of your image */
    width: 30%;
    height: 40px;
    overflow: hidden;
    border: solid 1px #ccc;
    float: right;
    margin: 0px 0 15px 0;
}

#parent select {
    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-left: 10px;
    width: 90%;
    height: 100%;
    outline: none
}

#parent2 {

    background: #fff;
    width: 50%;
    height: 40px;
    overflow: hidden;
    border: solid 1px #ccc;
    border-radius: 5px;
    float: left;
    margin: 0px 0 15px 0;
}

#parent6 {
    background: #fff;
    width: 50%;
    height: 40px; // overflow: hidden;
    border: solid 1px #ccc;
    border-radius: 5px;
    float: left;
    margin: 0px 0 15px 0;
}

#parent6 select {
    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat;
}

#parent3 {
    /* the width and the height of your image */
    background: #fff;
    width: 35%;
    height: 40px; // overflow: hidden;
    border: solid 1px #ccc;
    border-radius: 5px;
    float: left;
    margin: 0px 0 15px 0;
}

#parent4 {
    /* the width and the height of your image */
    background: #fff;
    width: 35%;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 5px;
    float: left;
    margin: 0px 0 15px 0;
}

#parent2 select {
    background: url('http://ourjs.github.io/static/2015/arrow.png') calc( 100% - 10px) center no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none;
}

#parent6 select {
    background: url('http://ourjs.github.io/static/2015/arrow.png') right center no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-left: 10px;
    width: 80%;
    height: 100%;
    outline: none;
}

#parent3 input {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-left: 10px;
    width: 95%;
    height: 100%;
    outline: none;
}

#parent4 input {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-left: 10px;
    width: 95%;
    height: 100%;
    outline: none;
}

#search_date {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 40px;
    appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
    background: #555aa3;
    float: right;
}
#foot {
    position: fixed;
    bottom:0;
    height: 70px;
    width: 100%;
    background:#282b36;
    text-align:center;
    color: #ccc;
    line-height: 70px;
    font-size: 24px


}