<div class="sidebar">
    <img src="./assets/images/jiantou.png"  alt="" class="goin" />
    <img src="./assets/images/right.png" height="74" width="59" alt="" class="comeup" />
    <div class="leftmenu">
        <dl>
            <dd>
                <ul class="sidebar_list menuson">
                    <li><a href="index.html">家庭居住区域识别</a></li>
                    <li><a href="2.html">工作区域识别</a></li>
                    <li><a href="3.html">用户消费能力识别</a></li>
                    <li><a href="4.html">用户所属行业识别</a></li>
                    <li><a href="5.html">兴趣爱好识别</a></li>
                    <li><a href="6.html">竞争对手分析</a></li>
                    <li><a href="7.html">商铺选址（地块评估）</a></li>
                    <li><a href="8.html">城市洞察</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
